* {
    padding: 0;
    margin: 0;
}
body {
    background-color: yellow;
}
.row1 {
    background-color: orange;
    padding: 20px;
    margin: 20px;
    width: 1825px;
    height: 100px;
    display: flex;
}
.red1 {
    width: 500px;
    height: 60px;
    padding: 10px;
    background-color: red;
}
.red2 {
    width: 200px;
    height: 60px;
    padding: 10px;
    margin-left: 20px;
    background-color: red;
}
.red3 {
    width: 460px;
    height: 60px;
    padding: 10px;
    margin-left: 800px;
    background-color: red;
}
.vbox {
    background-color: purple;
    width: 850px;
    height: 120px;
    margin: 20px 20px 0px;
}
.brbox {
    background-color: rgb(207, 74, 74);
    width: 850px;
    height: 350px;
    margin: 0px 20px 0px;
}
.row3 {
    background-color: rgb(146, 140, 140);
    display: flex;
    margin: 20px 20px 0px;

}
.grnbox {
    width: 215px;
    height: 160px;
    background-color: green;
    margin: 15px;
}
.row4 {
    display: flex;
}
.marbox {
    background-color: maroon;
    height: 270px;
    width: 470px;
    margin: 10px 20px 0px;

}
.row34 {
    display: block;
}
.row234 {
    display: flex;
}
.blbox1 {
    width: 800px;   
    height: 120px;
    margin: 5px 40px 5px;
    background-color: blue;
}
.blbox2 {
    width: 800px;   
    height: 80px;
    margin: 10px 40px 5px;
    background-color: blue;
}
.blbox3 {
    width: 800px;   
    height: 80px;
    margin: 10px 40px 5px;
    background-color: blue;
}
.row6 {
    display: block;
}
.r2box {
    width: 980px;
    height: 135px;
    background-color: red;
    margin: 10px 30px 5px;
}
.row56 {
    display: flex;
}
@media screen and (max-width: 1300px) {
    .vbox {
        width: 96%;
    }
    .brbox {
    width: 96%;
    }
    .row34 {
        display: block;
    }
    .row234 {
        display: block;
    }
    .row56 {
        display: block;
        justify-content: center;
    }
    .rbox3 {
        width: 460px;
        height: 60px;
        padding: 10px;
        margin-left: 100px;
        background-color: red;
    }
    .blbox1, .blbox2, .blbox3 {
        width: 90%;
    }
    .r2box {
        width: 93%;
    }
}       
